/**
 * @file
 * Google Analytics Counter miscellaneous styling.
 */

@media screen and (min-width: 660px) {
  details.google-analytics-counter-counter.js-form-wrapper.form-wrapper {
    width: 48%;
    display: inline-block;
  }

  details.google-analytics-counter-storage.js-form-wrapper.form-wrapper {
    width: 48%;
    display: inline-block;
  }
}

/*Todo: Can a more focused selector be used here.*/
input#edit-field-google-analytics-counter-0-value {
  background-color: #ececec;
}
